<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/profile']">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let review of storeService.reviews">
    <app-review [review]="review" (click)="displayReview(review)"></app-review>
  </div>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)"  [disabled]="disableInfiniteScroll">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/create-review">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
