<ion-header>
  <!-- <ion-toolbar>
</ion-toolbar> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{review.movie.title}}</h1>
  <h2>Auteur :</h2>
  <p>{{review.user.firstName}} {{review.user.lastName}}</p>
  <h2>Note :</h2>
  <div>
    <span *ngFor="let star of rating">
      <ion-icon slot="icon-only" name="{{star}}"></ion-icon>
    </span>
  </div>
  <h2>Commentaire :</h2>
  <p>{{review.comment}}</p>
</ion-content>
