<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="groups()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Groupe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{group.name}}</h1>
  <p>{{group.description}}</p>
  <h2>Membres</h2>
  <ion-item *ngFor="let user of members">
    <ion-label>
      <h3>{{user.firstName}} {{user.lastName}}</h3>
    </ion-label>
  </ion-item>
  <h2>Reviews</h2>
  <div *ngFor="let review of reviews">
    <app-review [review]="review" (click)="displayReview(review)"></app-review>
  </div>
</ion-content>
